body {
	font-family:sans-serif;
	width:800px;
	margin:0 auto;
	padding: 10px;
}

.myform > .error {
	color: red;
}

hr {
	margin: 20px auto;
}

.myform {
	background:#C0C0C0;
	border-color:#003300;
	border-width:2px;
	border-style:solid;
	margin: 20px auto;
	padding:10px;
}